<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/angular.js"></script>
</head>
<body ng-app="ControllerApp">
<div ng-controller="CalController">
    <p><fieldset>
    <legend>Sum</legend>
Num1 : <input type="number" title="n1" ng-model="num1"><br>
Num2 : <input type="number" title="n2" ng-model="num2"><br>
Sum  :  {{calculate()}}
  </fieldset></p>

    <p><fieldset><legend>FeedBack</legend>
        Choice : <input type="checkbox" ng-model="choice">
    <form ng-show="choice">
        Email : <input type="text"><br>
        FeedBack : <textarea></textarea>
    </form>
    </fieldset></p>

    <ul>
        <li ng-repeat="l in list">{{l}}+ "index of "={{$index}}</li>
    </ul>
</div>
<!--<script src="scripts/ControllerDemo.js"></script>-->
<script src="scripts/controller/calculator.js"></script>
</body>
</html>