<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Directive</title>
</head>
<body ng-app="FilterApp" ng-controller="TestController">
<div>
    Num1 : <input type="number" ng-model="num1"><br>
    Num2 : <input type="number" ng-model="num2"><br>
    <button ng-click="sendRequest()">Send Request</button>

    <table border="1">
        <tr><th>Add</th><th>Sub</th><th>Mul</th><th>Div</th></tr>
        <tr>
            <td>{{add}}</td>
            <td>{{sub}}</td>
            <td>{{mul}}</td>
            <td>{{div}}</td>
        </tr>
    </table>
    <br><b>Response : {{resData}}</b>
</div>

</body>
<script src="lib/angular.js"></script>
<script src="lib/angular-ui-router.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controller/HttpController.js"></script>
<script src="scripts/service/HttpService.js"></script>
</html>